


<%- include("header") %>

<%- include("headerClub") %>


<section class="clubSection">

  <div class="clubtable">
  
    <center>
    <button type="button" class="btn btn-primary clubAddBtn" data-bs-toggle="modal" data-bs-target="#addInfoModal">
      สมัครเข้าชมรมนี้
    </button>
    </center>
  
    <center>
    <table>
     <thead>
      <tr>
        <th>
          name
        </th>
        <th>
          studentID
        </th>
        <th>
          studentNumber
        </th>
        <th>
          clubType
        </th>
      </tr>
     </thead>
     <tbody>
      <% for (let i = 0; i < swim.length; i++) {           %>     
        <tr>
            <td>
                    <%= swim[i].studentName                         %>  
            </td>
            <td>
                   <%= swim[i].studentId                           %> 
            </td>
            <td>
               <%= swim[i].studentNumber                       %> 
            </td>
            <td>
                  <%= swim[i].clubType                          %>  
            </td>
        </tr>
            <% }                                                 %> 
      </tbody>
  </table>
  </center>
  
  </div>
  
  </section>

  



<form action="/store/club" method="POST">

  <!-- Modal -->
  <div class="modal fade" id="addInfoModal" tabindex="-1" aria-labelledby="addInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="addInfoModalLabel">กรอกข้อมูลเลือกชมรม</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">



          <label for="studentName" class="text-dark clublabel">ชื่อ-นามสกุล:</label>
          <input type="text" class="form-control" name="studentName">

          <label for="studentId" class="text-dark clublabel">รหัสนักเรียน:</label>
          <input type="text" class="form-control" name="studentId">

          <label for="studentNumber" class="text-dark clublabel">เลขที่นักเรียน:</label>
          <input type="text" class="form-control" name="studentNumber">

          <label for="clubType" class="text-dark clublabel">เลือกชมรม:</label>
          <select class="form-select" name="clubType">
            <option value="ฟุตบอล">ฟุตบอล</option>
            <option value="ว่ายน้ำ">ว่ายน้ำ</option>
            <option value="ปิงปอง">ปิงปอง</option>
            <option value="บาสเกตบอล">บาสเกตบอล</option>
            <option value="แบตมินตัน">แบตมินตัน</option>
          </select>
        
            <label for="classselect" class="text-dark clublabel">ระดับชั้นที่ต้องการสมัคร:</label>
            <select class="form-select" name="classselect" id="">
              <option value="มัธยมศึกษาปีที่1">มัธยมศึกษาปีที่1</option>
              <option value="มัธยมศึกษาปีที่2">มัธยมศึกษาปีที่2</option>
              <option value="มัธยมศึกษาปีที่3">มัธยมศึกษาปีที่3</option>
              <option value="มัธยมศึกษาปีที่4">มัธยมศึกษาปีที่4</option>
              <option value="มัธยมศึกษาปีที่5">มัธยมศึกษาปีที่5</option>
              <option value="มัธยมศึกษาปีที่6">มัธยมศึกษาปีที่6</option>
            </select>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</form>



<%- include("footer") %>